.page-body {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
}


.cards-container {
    background-color: #2b2b2b;
    padding: 15px;
    border-radius: 10px;
    min-height: 480px;
}

.card-item {
    background-color: #3a3a3a;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    height: 280px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s;
}

    .card-item:hover {
        transform: scale(1.05);
    }

.card-img {
    flex: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 6px;
}

.card-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

.card-name {
    font-weight: bold;
}

.card-description {
    font-size: 11px;
    color: #bbb;
}

.card-meta {
    font-size: 11px;
    margin-top: 2px;
}

.side-panel {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    min-height: 500px;
}

    .side-panel h4 {
        margin-bottom: 20px;
    }

.ready-btn {
    margin-top: 20px;
}
