::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}


::-webkit-scrollbar {
    width: 1.5vw;
}

::-webkit-scrollbar-thumb {
    background: #5559;
    border-radius: .5vw;
    height: 3vw;
    border: .35vw double black;
}

::-webkit-scrollbar-track {
    background: #131313;
}

html {
    scrollbar-color: #5559 #131313;
}

main {
    position: absolute;
    width: 100%;
    height: calc(100vw * 1080 / 1920);
    background-image: url('img/board.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.card-lg {
    height: 30.4vw;
    width: 16.1vw;
    border-radius: 1.5vw;
    background-size: contain;
    background-position: center;
}


.card-array .card-lg {
    width: 9.88vw;
    height: 18.45vw;
    border-radius: 1vw;
    margin-bottom: 0.75vw;
}

.card-array .card-lg > div {
    position: relative;
    top: 82.5%;
    left: 76%;
    width: 20%;
    height: 7%;
    font-size: 1.2vw;
    color: #5f4923;
    padding-left: 1.7vw;
    background-image: url('img/icons/preview_count.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#click-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#deck-customization {
    position: absolute;
    width: 100%;
    height: calc(100vw * 1080 / 1920);
    background-color: rgba(10,10,10,.95);
    z-index: 85;
}

#faction-title {
    position: absolute;
    height: 5%;
    width: 100%;
    top: 2%;
}

#deck-customization h1 {
    position: absolute;
    font-size: 1.45vw;
    color: #dedede;
    line-height: 220%;
    text-transform: capitalize;
    padding: 0 3%;
    top: -30%;
    background-size: contain;
    background-repeat: no-repeat;
}

#faction-description {
    position: absolute;
    font-size: 1.14vw;
    color: #ab977c;
    top: 5.45%;
    left: 20.2%;
    width: 60%;
    text-align: center;
}

.deck-options {
    position: absolute;
    font-size: 1vw;
    color: white;
    top: 10%;
}

#download-deck {
    left: 55%;
}

#upload-deck {
    left: 40%;
}

#change-faction {
    left: 47%;
}

#card-leader-panel {
    position: absolute;
    height: 30%;
    width: 7.5%;
    top: 14.8%;
    left: 46.6%;
}


#card-leader-panel p {
    font-size: 1.1vw;
    text-align: center;
    color: #8f6c36;
    line-height: 0%;
    margin: 9%;
}

#card-leader-panel > div {
    position: relative;
    height: 84.5%;
    margin-top: 24.5%;
    background-size: contain;
    border-radius: .5vw;
}


.card-array {
    position: absolute;
    width: 34.4%;
    height: 68%;
    overflow-y: scroll;
    padding: .1vw 1.1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#card-bank {
    top: 14.5%;
    left: 8.275%;
}

#card-deck {
    top: 14.5%;
    left: 58.4%;
}

.card-array .card-lg {
    width: 9.88vw;
    height: 18.45vw;
    border-radius: 1vw;
    margin-bottom: 0.75vw;
}

.card-array .card-lg > div {
    position: relative;
    top: 82.5%;
    left: 76%;
    width: 20%;
    height: 7%;
    font-size: 1.2vw;
    color: #5f4923;
    padding-left: 1.7vw;
    background-image: url('img/icons/preview_count.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#card-leader {
    position: absolute;
    height: 27%;
    width: 6.9%;
    top: 15.8%;
    left: 46.6%;
}

#card-leader p {
    font-size: 1.1vw;
    text-align: center;
    color: #8f6c36;
    line-height: 0%;
    margin: 9%;
}

#card-leader > div {
    position: relative;
    height: 84.5%;
    margin-top: 24.5%;
    background-size: contain;
    border-radius: .5vw;
}

.start-panel {
    position: absolute;
    top: 63.5%;
    left: 44.05%;
    width: 12%;
    height: 20%;
}

.lobby-code {
    color: white;
    font-size: 1.05vw;
}

.deck-stats-padding {
    padding-bottom: 0.4rem;
}

#deck-stats {
    position: absolute;
    width: 12%;
    height: 15%;
    top: 45.5%;
    left: 44.05%;
}

#deck-stats > p:nth-child(odd) {
    color: #82735f;
    font-size: 1.05vw;
    text-align: center;
    margin-bottom: -6.75%;
}

#deck-stats > p:nth-child(even) {
    font-size: 1.2vw;
    text-align: left;
    color: #9f7d3e;
    padding-left: 2.3vw;
    margin-left: 3.95vw;
    margin-bottom: -6.75%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.5vw;
}

#start-game {
    position: absolute;
    top: 76%;
    left: 46.65%;
    width: 6%;
    height: 3%;
    font-size: 0.98vw;
    white-space: nowrap;
    color: white;
    background-color: rgb(20,20,20);
    border: 0.1vw ridge rgb(30,30,30);
}

#start-game-new {
    position: absolute;
    top: 76%;
    left: 44%;
    width: 10%;
    height: 5%;
}

.card-contianer-title {
    position: absolute;
    width: 10%;
    height: 3%;
    font-size: 1.3vw;
    color: #959595;
}

#card-bank-title {
    top: 3.45%;
    left: 8.5%;
}

#card-deck-title {
    top: 3.8%;
    left: 84.45%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
}

.visible {
    display: visible;
}

.hide {
    display: none;
}

.fade {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.noclick {
    pointer-events: none;
}


#card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    overflow: visible;
}

.hidden-invisible {
    visibility: hidden;
}

