@page "/"
@inject ILobbyInitializationService lobbyInitService
@inject NavigationManager navigationManager
@inject IPlayerService playerService

<PageTitle>Join lobby</PageTitle>

<div class="d-flex flex-column justify-content-between vh-100 bg-dark text-light">
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="bg-secondary bg-opacity-25 border-warning shadow-lg p-4" style="max-width: 420px; width: 100%;">
            <div class="text-center">

                <h1 class="display-4 fw-bold text-warning mb-3">Gwent</h1>

                <div class="d-grid gap-3 my-5">
                    <button class="btn btn-outline-warning btn-lg fw-semibold" @onclick="CreateLobby">
                        <i class="bi bi-plus-circle me-2"></i>Create Lobby
                    </button>
                </div>

                <hr class="border-warning opacity-50 mb-5" />

                <div class="mb-3">
                    <label style="font-size: 1.2rem !important;" class="form-label text-warning fw-semibold">Enter Lobby Code</label>
                    
                    <input type="text"
                            class="form-control mb-3 bg-dark text-light border-warning text-center"
                            placeholder="Paste your code here"
                            @bind-value="lobbyInput" />
                    
                    <div class="d-grid">
                        <button class="btn btn-outline-warning btn-lg fw-semibold" @onclick="JoinLobby">
                            <i class="bi bi-people-fill me-2"></i>Join Lobby
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="gwent-footer">
        Created with passion. My <a href="https://github.com/VVlktor" target="_blank">github page</a>.
    </footer>
</div>


@code{
    private string lobbyInput = "";

    private async Task JoinLobby()
    {
        if (string.IsNullOrEmpty(lobbyInput)) return;

        bool lobbyExists = await lobbyInitService.JoinLobby(lobbyInput);
        if (!lobbyExists) return;

        playerService.SetData(PlayerIdentity.PlayerTwo, lobbyInput);
        navigationManager.NavigateTo($"/Deck");
    }

    private async Task CreateLobby()
    {
        string lobbyCode = await lobbyInitService.CreateLobby();
        if(string.IsNullOrEmpty(lobbyCode)) return;

        playerService.SetData(PlayerIdentity.PlayerOne, lobbyCode);
        navigationManager.NavigateTo($"/Deck");
    }
}