@page "/"

<PageTitle>Join lobby</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h2 class="text-center display-3">Gwent</h2>
            <button class="btn btn-lg btn-primary text-center mb-4">Create lobby</button>
            <hr />
            <p class="text-center mt-4">Join lobby</p>
            <input type="text" class="form-control" placeholder="lobby id" />
            <button class="btn text-center">Join</button>
        </div>
    </div>
</div>